# Android emulator talking to backend on host machine:
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000/v1

# iOS simulator:
# EXPO_PUBLIC_API_BASE_URL=http://localhost:3000/v1

# Physical device:
EXPO_PUBLIC_API_BASE_URL=http://192.168.10.15:3000/v1
